body {
  display: flex;
  justify-content: center;
  background-color: #DBE4F1;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 90rem;
  min-width: 45rem;
}
